body {
    font-family: sans-serif;
    background-color: #F2FFFC;
}

h1, h2 {
    font-family: "Open Sans Condensed", Arial;
}

h1 {
    background-color: #851944;
    color: #FFFFFF;
    text-align: center;
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

p {
    font-family: "Crimson Text";
    text-align: justify;
}
