body {
    font-family: sans-serif;
    background-color: #F2FFFC;
    line-height: 1.5;
    font-size: 100%;
}

h1, h2 {
    font-family: "Open Sans Condensed", Arial;
}

.main div {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 0;
}

p{
    font-family: "Crimson Text";
    text-align: justify;
    padding: 1.5rem 0;
}

blockquote, aside, footer {
    padding: 1.5rem;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}


article {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.main {
    float: left;
    width: 80%;
    padding-bottom: 80px;
}

.main-title, .sub-title {
    font-family: "Open Sans Condensed", Arial;
}

.main-title {
    text-transform: capitalize;
    font-size: 4rem;
    padding: 2rem;
    border-bottom: 0.5rem solid #000;
    background-color: #851944;
    color: #FFFFFF;
    text-align: center;
}

.sub-title {
    font-size: 2em;
    clear: both;
}

.footer {
    text-align: center;
    background-color: #000000;
    color: #F2FFFC;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer-fixed {
    position: fixed;
}

.comment {
    background-color: #D9E5E3;
    border: 1em solid #C2CCCA;
    margin: 1em 2em;
    width: 250px;
    box-sizing: border-box;
}

.comment cite {
    float: right;
    font-style: italic;
}

.fiat-blockquote {
    float: right;
}

.bmw-blockquote {
    float: left;
}

.menu {
    background-color: #3C1D3D;
    color:  #F2FFFC;
    text-align: center;
    text-transform: lowercase;
    box-sizing: border-box;
    float: right;
}

.img-profile {
    position: absolute;
    top: 0;
    right: 0;
}

.nav-page, .img-profile {
    border-bottom: 10px solid #000;
    border-left: 10px solid #000;
}

.nav-page {
    position: relative;
    top: 310px;
    right: 0;

}

.footer {
    clear: both;
}

.menu a {
    color: inherit;
    text-decoration: none;

}

.menu h1 {
    font-size: 30px;
    margin-bottom: 25px;  }

.social li {
    display: inline-block;

}

.social li a {
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    /*font-size: 0;*/
}

.readMore {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
    text-decoration: none;
    color: #000;
}

.github-icon {
    background-image: url("../img/github.png");
}

.linkedin-icon {
    background-image: url("../img/linkedin.png");
}

.twitter-icon {
    background-image: url("../img/twitter.png");
}

.portfolio {
    width: 300px;
    height: 300px;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
    margin-bottom: 1rem;
    position: relative;
    font-size: 2em;
}

.portfolio img {
    position: absolute;
    left: 0;
    top: 0;
}

.portfolio figcaption {
    position: absolute;
    color: white;
    bottom: 0;
    left: 1em;
}

.footer-index {
    border-top: 0.5em #881943 solid;
}

.footer-index h1 {
    text-align: left;
    font-size: 3rem;
}

.footer-index a {
    color: #851944;
}

.header {
    background-color: #851944;
    text-align: center;
    padding: 1em;
    border-bottom: 0.5em #000000 solid
}

.header img {
    width: 150px;
    height: 150px;
}

.header h1 {
    font-size: 2em;
    color: white
}

.header span {
    color: white;
}

.main-content {
    text-align: center;
    font-size: 1.5rem;
    color: #A9B0B9;
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;


}

.main-content p{
    text-align: center;
}

.main-content a {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #851944;
    padding: 1rem;
    border: 0.5rem #000000 solid;
}

.custom-link {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #851944;
    padding: 1rem;
    border: 0.5rem #000000 solid;
}

.p1 {
    text-indent: 4rem;
}

.p2 {
    text-indent: 8rem;
}

.hello {
    color: #888897;
    font-size: 3rem;
}

.my-name {
    font-size: 2rem;
    color: #222222;
}

.job-desc {
    color: #881843;
    font-size: 3.5rem
}

.jobs-session {
    background-color: #3E1D3C;
    color: #FFFFFF;
    text-align: center;
}

.jobs-session h1 {
    font-size: 2rem;
    text-align: left;
}

.jobs-session a {
    margin: 20px 0 ;
}

.blog-session {
    background-color: #999999;
    color: #FFFFFF;
    text-align: center;
}

.blog-session h1 {
    font-size: 4rem;
    text-indent: 4rem;
    text-align: left;
}

.blog-session span {
    margin-left: 4rem;
    text-align: left;
    display: block;
}

.blog-session ul li {
    margin-left: 4rem;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.custom-link {
    display: inline-block;
    text-align: center;
    margin: 20px;
    width: 400px;
}

