body {
    font-family: sans-serif;
    background-color: #F2FFFC;
    line-height: 1.5;

}

.main-title, .sub-title {
    font-family: "Open Sans Condensed", Arial;
}

h1, h2 {
    font-family: "Open Sans Condensed", Arial;
}

h1 {
    /*font-size: 60px;*/
    /*text-transform: capitalize;*/
    font-size: 300%;
    padding: 2rem;
    border-bottom: .5rem solid #000;
}

h2 {
    font-size: 30px;
    clear: both;
}

main h1 {
    background-color: #851944;
    color: #FFFFFF;
    text-align: center;
    padding: 25px;
    border-bottom: 10px solid #000000;
}

main div {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

p {
    font-family: "Crimson Text";
    text-align: justify;
    padding: 20px 0;
}

.footer {
    text-align: center;
    background-color: #000000;
    color: #F2FFFC;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

blockquote {
    background-color: #D9E5E3;
    border: 20px solid #C2CCCA;
    margin: 20px 40px;
    width: 250px;
    box-sizing: border-box;
}

blockquote cite {
    float: right;
    font-style: italic;
}

.fiat-blockquote {
    float: right;
}

.bmw-blockquote {
    float: left;
}

blockquote, aside, footer {
    padding: 20px;
}

aside {
    background-color: #3C1D3D;
    color:  #F2FFFC;
    text-align: center;
}

.img-profile {
    position: absolute;
    top: 0;
    right: 0;
}

.nav-page, .img-profile {
    border-bottom: 10px solid #000;
    border-left: 10px solid #000;
}

.nav-page {
    position: relative;
    top: 310px;
    right: 0;

}

aside, img {
    float: right;
}

aside {
}

footer {
    clear: both;
}

aside {
    text-transform: lowercase;
    box-sizing: border-box;
}

aside a {
    color: inherit;
    text-decoration: none;

}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;  }

.social li {
    display: inline-block;

}

.social li a {
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    /*font-size: 0;*/
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}


article {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

main {
    float: left;
    width: 80%;
    padding-bottom: 80px;
}


.readMore {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
    text-decoration: none;
    color: #000;
}

.github-icon {
    background-image: url("../img/github.png");
}

.linkedin-icon {
    background-image: url("../img/linkedin.png");
}

.twitter-icon {
    background-image: url("../img/twitter.png");
}
